.header {
    background-image: url(../views/img/travel.jpg);
    min-height: 4.5rem;
    max-height: 5.5rem;
    display: flex;
    justify-content: center;
    width: 100vw;
    font-style: italic;

    @media only screen and (min-width: 370px) {
        min-height: 5.5rem;
        max-height: 7.5rem;
    }
}
.navtitle{
  font-size: 75px;
}